body{
  color: white;
}

@import "tailwindcss";
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
.state-card{
    @apply flex-1 border-1 rounded-[10px] p-3 bg-[#8080803F];
}

.flow-light{
    @apply bg-[rgba(50,233,236)];
}





